---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold mb-8 text-java-orange">JUG Joinville</h1>
    <div class="prose prose-invert">
      <p class="mb-6">
        O Java User Group Joinville (JUG Joinville) é uma organização impulsionada pela comunidade, dedicada a reunir desenvolvedores Java, arquitetos e entusiastas na região de Joinville.
      </p>
      <h2 class="text-2xl font-bold mb-4 text-java-blue">Nossa missão</h2>
      <p class="mb-6">
        Nosso objetivo é promover o compartilhamento de conhecimento, o desenvolvimento profissional e oportunidades de networking dentro do ecossistema Java. Por meio de meetups regulares, workshops e eventos online, criamos uma plataforma para aprendizado e colaboração.
      </p>
      <h2 class="text-2xl font-bold mb-4 text-java-blue">Se envolva</h2>
      <p class="mb-6">
        Seja você um desenvolvedor Java experiente ou alguém que está apenas começando sua jornada, há um lugar para você em nossa comunidade. Participe de nossos eventos, contribua para as discussões e conecte-se com outros entusiastas do Java!
      </p>
      <h2 class="text-2xl font-bold mb-4 text-java-blue">Entre em contato</h2>
      <p>
        Tem dúvidas ou quer contribuir? Entre em contato conosco por meio de nossas redes sociais ou junte-se ao nosso servidor no Discord!
      </p>
    </div>
  </div>
</Layout>