---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-6">
      <span class="text-java-orange">Java</span> User Group
      <span class="text-java-blue">Joinville</span>
    </h1>
    <p class="text-xl mb-8">
      Bem-vindo ao JUG Joinville! Um espaço para aprender, compartilhar e discutir o ecossistema Java!
    </p>
    <div class="grid md:grid-cols-2 gap-8 max-w-4xl mx-auto">
      <div class="bg-gray-800 p-6 rounded-lg">
        <h2 class="text-2xl font-bold mb-4 text-java-orange">
              <a href="https://www.w3schools.com/" target="_blank" class="hover:text-java-orange transition-colors">
                Publicações recentes
              </a>
        </h2>
        <p class="text-gray-300">
          Acesse a nossa página no Meetup e acompanhe os anúncios dos próximos encontros
        </p>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg">
        <h2 class="text-2xl font-bold mb-4 text-java-orange">
              <a href={`/posts`} class="hover:text-java-orange transition-colors">
                Publicações recentes
              </a>
        </h2>
        <p class="text-gray-300">
          Acesse o nosso blog para acompanhar as novidades do mundo Java, artigos técnicos e atualizações da comunidade.
        </p>
      </div>
    </div>
  </div>
</Layout>